*{
	list-style-type: none;
	margin:0px;
	padding:0px;
}
header,nav,body,article,aside,section,footer{
	display:block;
}
header h1{
	color:#802b00;
	float:left;
	padding:1px 40px;
	background-color:#ff9966;
	border-radius: 30px;
	margin-left:10px;
	margin-top: 40px;
}

.my_pic{
	margin-left:5px;
	width:100px;
	height: 90px;
	margin-top: 10px;
	float:left;
	border:5px;
}

.image_top{
	width:1280px;
	height: 500px;
	margin-top: 10px;
}
.top_nav ul li{
	float: left;
	padding:10px 40px;
	background-color:#ff9966;
	border-radius: 30px;
	margin-left:30px;
	margin-top: 40px;
}

footer{
	clear:both;
	margin-top: 10px;
	background-color:#ccddee;
}
.container{
	margin:0px auto;
	background-color:#a0a0a0;
	width:1280px;
	background-image:url("Design-Thinking.jpg");
	background-repeat:no-repeat;
}
a:hover{
	color:#ddeecc;
}
a:visited{
	color:#ccddee;
}
a:active{
	color:#eeccdd;
}
body{
	background-position:center;
	background-color:brown;
}
.left_side{
	float:left;
	padding-top:10px;
	width:800px;
	margin-right: 20px;
	margin-left:10px;
	margin-bottom: 10px;
	clear:both;
}
.right_side{
	float:right;
	padding-top:10px;
	width:300px;
	margin-right:10px;
	margin-bottom: 10px;
	}
.left_side article{
	padding:10px 30px;
	font-weight:bold;
	color:#802b00;
	font-family: Calibri;
	font-size:20;
	background-color:#ff9966;
	border-radius: 30px;
}
.right_side article{
	padding:10px 0px 10px 100px;
	color:#ff9966;
	border-radius: 30px;
	font-family: Calibri;
	color:#802b00;
	background-color:#ff9966;
	}